@import '../../../../style/color.less';
@import '../../../../style/layout.less';

.container {
    width: 100%;

    .myTextarea {
        .regular-family;
        padding: .5rem;
        width: 100%;
        height: auto;
        resize: none;
        border: 0;
        border-bottom: 1px solid @hide-text-color;
        background-color: transparent;
        outline: none;
        overflow-y: hidden;

        &::placeholder {
            color: @hide-text-color;
        }
    }
}